/*Componentes/Styles/AddProd.css*/
.Agregacion {
    width: 100%; /* Ajusta este valor según tus necesidades */
    padding: 20px; /* Ajusta este valor según tus necesidades */
    min-height: 100vh; /* O ajusta la altura según tus necesidades */
    overflow-y: auto;
  }

.Cabezon {
    display: flex;
    justify-content: space-between;
    background-color: #f5f5f5;
    color: black;
    font-weight: bold;
    margin:30px ;
    padding: 20px;
    font-size: 20px;
    border-bottom: 1px solid #ddd; /* Línea inferior similar a la de la imagen */
  }

.Formulario {
    margin-top: 20px;
    padding: 20px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 30px;
    display: flex;
  }
  
  /* Estilos para los campos de entrada */
.Formulario input, .Formulario textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
  }
  
  /* Estilos para el botón */
.Formulario button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
  }
  


