/*src/Componentes/Styles/Sidebar.css*/

.App-sidebar {
    background-color: #bcb3b3; /* Ajusta este valor según tus necesidades */
    color: black; /* Ajusta este valor según tus necesidades */
    width: 200px; /* Ajusta este valor según tus necesidades */
    height: 50vh; /* Asegúrate de que tu barra lateral ocupe toda la altura de la vista del navegador */
    padding: 20px; /* Ajusta este valor según tus necesidades */
    margin: 50px;
  }

.App-sidebar li {
  font-weight:bold;
  margin-bottom: 10px ;
}

.App-sidebar a {
  color: black; /* Cambia este valor al color deseado */
  text-decoration: none; /* Esto eliminará la subrayado de los enlaces */
  font-weight: bold;
}

  

  